# editor
alias nvim="lvim"
alias vim="nvim"

# apt
alias install="sudo apt install -y"
alias update="sudo apt update -y"
alias upgrade="sudo apt upgrade"
alias autoclean="sudo apt auto-clean"
alias autoremove="sudo apt auto-remove"
alias i="install"
alias up="update && upgrade"
alias cleanup="autoclean && autoremove"

# cli tools
alias cat="bat"
alias df="duf"
alias ls="exa -1 --icons"
alias la="ls -lah"
alias top="bpytop"
alias htop="bpytop"
alias ps="procs"
