# editor
alias nvim="lvim"
alias vim="nvim"

# apt
alias install="sudo apt install -y"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"
alias autoclean="sudo apt auto-clean"
alias autoremove="sudo apt auto-remove"

alias i="install"
alias up="update && upgrade"
alias cleanup="autoclean && autoremove"
